
/* ############################################################################# */
.header {
}
body {
    background-color: rgb(223, 206, 240);
}

.navbar {
	background-color: rgb(94, 44, 94);
	height: 60px;
}
.fa-book {
	color: white;
}

.book-container {
    border: 7px solid rgb(94, 44, 94);
    background-color: rgb(248, 210, 243);
    border-radius: 5px;
}

.book {
    background-color: rgb(248, 210, 243);
	align-items: center;
	margin-top: 20px;
	border: 0;
}

.thumbnail {
}
.thumbnail:hover {
	cursor: pointer;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
}

.pages {
	display: inline;
}
.read {
	display: inline;
	border: 1px solid rgb(76, 228, 109);
	border-radius: 6px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(76, 228, 109);
	color: rgb(34, 151, 59);
}

.unread {
	display: inline;
	border: 1px solid rgb(223, 88, 88);
	border-radius: 6px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(223, 88, 88);
	color: rgb(167, 41, 41);
}

.fa-plus {
	color: rgb(0, 0, 0);
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 20px 20px 0;
	border: 10px solid rgb(0, 0, 0);
	border-radius: 50%;
	padding: 5px 5px 5px 5px;
	transition: 0.2s;
}
.fa-plus:hover {
	cursor: pointer;
	color:rgb(0, 0, 0);
	transform: rotate(180deg);
	border-color: rgb(38, 231, 12);
}

/* .add-book {
	position: fixed;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	color: rgb(86, 8, 94);
	background-color: rgb(86, 8, 94);
	border: 3px solid black;
	transition: 0.5s;
}
.add-book:hover {
	opacity: 90%;
}
.add-book after {
	color: blue;
} */